/* seletor universal do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Essa pseudo class será a responsável pela mudança para o light-mode/poderiamos usar tbm a tag html */
:root {
  --text-color: white;
  --bg-mobile: url(./assets/bg-mobile-dark.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --social-links-hover: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/moon-icon.svg);
}
/* class do light-mode */
.light {
  --text-color: black;
  --bg-mobile: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --social-links-hover: rgba(0, 0, 0, 0.1);
  --switch-bg: url(./assets/sun-icon.svg);
}

body {
  height: 100vh;
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  /* Por padrão as imagens vêm repetidas,
  essa propriedade faz com que nao repita */
  background-position: top center;
  /* essa opção centraliza a imagem ao centro, porém centraliza no eixo
  y, e queremos centralizar no eixo x. Pra isso utilizamos a propreidade top */
  background-size: cover;
  /* essa opção faz com que a imagem abranja toda a área do tela */

  /* short-hands - background: color image no-repeat top center/cover */
  /* background: url(./assets/bg-mobile.jpg) no-repeat top center/cover; */
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /* centralizando uma caixa fixa */
  margin: 56px auto 0px;

  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}
/* img por padrão é display inline, logo, o margin auto não vai entralizar a imgaem ao meio.
Pra isso, uma das opçoes é chamar a tag pai e adicionar um text-align: center */
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 9px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* socila-links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--social-links-hover);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 12px;
}

/* usando media query */

@media (min-width: 700px) {
  :root {
    --bg-mobile: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-mobile: url(./assets/bg-desktop-light.jpg);
  }
}
